@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ShoppingCartProducts == null && ErrorMessage == null)
{
    <DisplaySpinner></DisplaySpinner>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">Shopping Cart</h3>
    @if (ShoppingCartProducts.Count() > 0)
    {
        <div class="row mb-5">
            <div class="col-md-9">
                @foreach (var product in ShoppingCartProducts)
                {
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="@product.ProductImageURL" width="300" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <h5>@product.ProductName</h5>
                            <div class="mb-4">@product.ProductDescription</div>
                            <span>
                                Price: <b>@product.Price.ToString("C")</b>
                                <input @oninput="()=>UpdateQty_Input(product.Id)"
                                       type="number" @bind="@product.Qty" />
                                <button data-itemId="@product.Id" class="btn btn-info btn-sm update-qty"
                                @onclick="(() => UpdateQtyCartProduct_Click(product.Id, product.Qty))">
                                    Update Qty
                                </button>
                            </span>
                            <div>
                                <button @onclick="(() => DeleteCartProduct_Click(product.Id))"
                                        class="btn btn-danger sm">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div class="col-md-3">
                <h5>Cart Summary</h5>
                <div class="mt-2">
                    <div>Total - (@TotalQuantity products)&nbsp;<b>@TotalPrice</b></div>
                    <a href="Checkout" class="btn btn-success">
                        <span class="oi oi-credit-card"></span>&nbsp; Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>There are currently no products in your shopping cart</h4>
    }

}